@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    var message = '@(ViewBag.Message)';
    if (message) {
        showDialog(message);
    }
</script>

@using RealTimeProgressBar

<h2>Simulated Home Page</h2>

<div>@Html.ActionLink("1) Page With Encrypt/Decrypt Operation", "EncryptOperation", "Default")</div>
<div>@Html.ActionLink("1) Page Without Encrypt/Decrypt Operation", "NoEncryptOperation", "Default")</div>
<br />
<div>@Html.ActionLink("2) Page With Encrypt/Decrypt Operation", "EncryptOperation", "Default2")</div>
<div>@Html.ActionLink("2) Page Without Encrypt/Decrypt Operation", "NoEncryptOperation", "Default2")</div>

@using (Html.BeginForm("RunLongProcess", "Default", FormMethod.Post, new { onsubmit = "ShowProgressDialog('Long Process From Index Page');" }))
{
    <input type="submit" value="Launch Lengthy Process" />
}